{% extends 'base.html.twig' %}

{% block body %}
{% block nav %} {{include('include/navbarcandidat.html.twig')}} {% endblock %}
 <div class="container mt-4">
<div class="col-sm-5 col-md-5">
{% form_theme form 'bootstrap_4_layout.html.twig' %}
{{ form_start(form) }}

     <div class="form-group">
    {{ form_row(form.username) }}
    {{ form_row(form.Email) }}
    {{ form_row(form.civilite) }}
    {{ form_row(form.dateDeNaissance) }}
    {{ form_row(form.lieuNaissance) }}
    {{ form_row(form.photo) }}
    </div>
    <div class="form-group">
    {{ form_row(form.adresse) }}
    {{ form_row(form.ville) }}
    {{ form_row(form.nationalite) }}
    {{ form_row(form.telephone) }}
    </div>
    <div class="form-group">
    {{ form_row(form.Password.first) }}
    {{ form_row(form.Password.second) }}
<button type="submit" class="btn btn-primary">Register</button>
</div>
{{ form_end(form) }}
</div>
</div>

{% endblock  %}
