{% extends 'base.html.twig' %}

{% block title %}postuler pour un Stage{% endblock %}

{% block body %}
    {% block nav %} {{include('include/navbarcandidat.html.twig')}} {% endblock %}
<div class="container mt-4">
    <h3 class="btn btn-danger">veuiller remplir ce formulaire pour postuler à {{ stage.sujet  | nl2br}}}</h3>
    <div class="col-sm-5 col-md-5">

        {% form_theme form 'bootstrap_4_layout.html.twig' %}

        {{ form_start(form) }}
        {{ form_widget(form) }}
        {{ form_end(form) }}
        
    </div>
</div>
{% endblock %}
